    <div class="d-flex container">
        <div class="card employee-card" *ngFor="let user of alldata">
          <div class="card-body">
            <h5 class="card-title">{{user.fname}} {{user.lname}}</h5>
            <h6 class="card-subtitle mb-2">{{user.role}}</h6>
            <p class="card-text">
              <i class="fas fa-envelope"></i>{{user.email}}<br>
              <i class="fas fa-user"></i> {{user.role}}<br>
              <i class="fas fa-check-circle"></i> {{user.status}}<br>
              <i class="fas fa-phone"></i>{{user.phone}}
            </p>
          </div>
        </div>
    </div>
    <button type="button" routerLink="" class="btn btn-primary gohome">Go Home</button>